<form action="/users/reset_password/:token" method="post">
	Email: <input type="text" name="email">
	New password: <input type="password" name="password">
	Confirm new password: <input type="password" name="password_confirmation">
	<input type="hidden" name="_token" value="<%= params[:token] %>">
	<input type="submit" value="Reset password">
</form>
