<div id="form-container"> 
<form action="/users/reset_password/:token" method="post">
	<input type="text" name="email" placeholder="E-mail address"><br>
	<input type="password" name="password" placeholder="Password"><br>
	<input type="password" name="password_confirmation" placeholder="Confirm password"><br>
	<input type="hidden" name="_token" value="<%= params[:token] %>">
	<input type="submit"  class="button" value="Reset password">
</form>
</div>