<div id="form-container"> 
	<div id="new-link">
	<h1>Submit a new link</h1>
	<form action="/links" method="post">
		<input type="text" name="url" placeholder="url"><br>
		<input type="text" name="title" placeholder="Title"><br>
		<input type="textarea" name="description" placeholder="Description"><br>
		<input type="text" name="tags" placeholder="Tags (space-separated)"><br>
		<input type="submit" class="button" value="Add link"><br>
	</form>
	</div>
</div>
