<li class="link">
	<div class='star hollow'>&#9734;</div>
  <div class='star solid'>&#9733;</div>
<a class="title" href="<%= link.url %>"><%= link.title %></a>
<div class='description'>
    <%= link.description %>
</div>
<span class='source'>
    added yesterday by 
    <a href="#">evgeny@makersacademy.com</a>
</span>
</li>